<div class="fondo container-fluid">
    <img src="../../../assets/deco7.png" alt="" class="decorativoTop">
    <div class="fecha">
        <span class="linea"></span>
        15.10.2024
        <span class="linea"></span> 
    </div>
    <div class="nombre">
        Maricarmen
    </div>
    <div class="años">
        Mis 15 años
    </div>
    <img class="comillas1" src="../../../assets/comillas.png" alt="">
    <div class="frase text-center">
        ¡Prepárense para la fiesta del siglo! <br>
        ¡Mis 15 años no son un cuento, son una aventura épica! <br>
        ¿Te unís?
    </div>
    <img class="comillas2" src="../../../assets/comillas.png" alt="">
</div>