<div class="fondo container-fluid">
    <div class="containerCinta">
        <div class="divCinta">
            <img id="puntaCintaI" src="../../../assets/puntaCintaI.png" alt="">
            <div class="cinta">Fiesta</div>
            <img id="puntaCintaD" src="../../../assets/puntaCintaD.png" alt="">
        </div>
    </div>
    <div class="containerInfo text-center   ">
        <div class="divInfo">
            <div class="texto">Día</div>
            <div class="info">Sábado 19 de Octubre - 22hs</div>
            <button class="boton" (click)="agendarEvento()">AGENDAR</button>
        </div>
        <div class="divInfo">
            <div class="texto">Lugar</div>
            <div class="info">Huellas del inka</div>
            <a id="linkWsp" target="_blank" href="https://wa.link/apf8hu"><button class="boton">CONFIMAR ASISTENCIA</button> </a>
        </div>
        <div class="divInfo">
            <div class="texto">Dirección</div>
            <div class="info">Calle tal N°234 - Londres</div>
            <button class="boton">¿CÓMO LLEGAR?</button>
        </div>
    </div>
    <img id="cinta" src="../../../assets/cinta2.png" alt="">
</div>