<div class="fondo container-fluid">
    <img id="cinta" src="../../../assets/cinta3.png" alt="">
    <div class="divCirculo text-center">
        <img id="circulo" src="../../../assets/circulo5.png" alt="">
        <div class="divCuenta">
            <div class="falta">
                Faltan
            </div>
            <div class="container-fluid divNumeros">
                <div class="row">
                    <div class="col columnaCuenta" style="border-right: 2px solid black">
                        <div class="row numero">{{days}}</div>
                        <div class="row etiqueta">días</div>
                    </div>
                    <div class="col columnaCuenta" style="border-right: 2px solid black">
                        <div class="row numero">{{hours}}</div>
                        <div class="row etiqueta">hs</div>
                    </div>
                    <div class="col columnaCuenta" style="border-right: 2px solid black">
                        <div class="row numero">{{minutes}}</div>
                        <div class="row etiqueta">min</div>
                    </div>
                    <div class="col columnaCuenta">
                        <div class="row numero">{{seconds}}</div>
                        <div class="row etiqueta">seg</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divLineas">
        <img id="lineas" src="../../../assets/lineas.png" alt="">
        <div id="circuloChico">
            <img id="corazon" src="../../../assets/corazon.png" alt="">
        </div>
    </div>
</div>