.fondo {
    height: min-content;
    background: var(--var-color-secundario);
    padding-bottom: 150px;
}

.titulo{
    font-family: var(--var-font1);
    font-size: 55px;
}

.subTitulo{
    font-family: var(--var-font2);
    font-size: 25px;
    padding-bottom: 50px;
}

.containerCarrousel {
    display: flex;
    flex-direction: column; /* Agrega esta línea para apilar el carrusel y los puntos verticalmente */
    justify-content: center;
    align-items: center;
    height: min-content;
    position: relative; /* Necesario para posicionar los botones */
}

.slider-container {
    display: flex;
    width: 60%;
    height: 60%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    height: 400px;
    object-fit: cover;
    scroll-snap-align: center;
    transition: transform 0.3s ease, filter 0.3s ease;
}



.slider-container::-webkit-scrollbar {
    display: none; /* Opcional: Oculta la barra de desplazamiento */
}

/* Botones de navegación */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Contenedor de puntos */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray; /* Color de los puntos inactivos */
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dot.active {
    background: black; /* Color del punto activo */
}